body {
  background: #181818;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

#toolbar {
  background: #222;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

canvas {
  background: #fff;
  display: block;
  margin: 60px auto;
  border: 2px solid #555;
  cursor: crosshair;
}
